body{
    overflow: scroll;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0px;
}

#outer_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#msdImage{
    width: 350px;
    position: relative;
    top: -3%;
    left: -18%;
}

#frame{
    height: 390px;
    width: 280px;
    background-color: rgb(255, 244, 202);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 0px 20px 0px 20px;
    margin: -20px 0px 8px 0px;
}

#text{
    margin: 32px 0px 20px 0px;
    text-align: center;
}

#inside_frame{
    height: 160px;
    width: auto;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 13px;
}

#myInput{
    height: 30px;
    width: 170px;
    border-radius: 15px;
    padding-left: 10px;
}

button{
    height: 32px;
    width: 100px;
    margin-top: 24px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    /* background-color:rgb(255, 177, 75); */
    background-color:rgb(255, 78, 14);
    color: antiquewhite;
}

button:active{
    transform: scale(1.1);
    transition: all 200ms ease-out;
}

#video_frame1,#video_frame2{
    height: 300px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    display: none;
}

#review{
    height: 150px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px 20px 20px;
    visibility: hidden;
}

#video_frame1 h4{
    font-size: 17px;
    margin: 6px 0px 12px 0px;
}

#video_frame2 h4{
    font-size: 17px;
}

#yesThala{
    width: 200px;
    border-radius: 14px;
}

#noThala{
    border-radius: 14px;
}

#footer{
    position: absolute;
    bottom: -15%;
    margin-bottom: 0%;
}

#footer h5{
    width: 100vw;
    text-align: center;
    background-color: rgb(255, 244, 202);
    margin-bottom: 0%;
}

#share_btn{
    background-color: #dfdfdf6b;
    border-radius: 20px;
    height: 40px;
    width: 190px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

#share_btn img{
    height: 32px;
    margin-top: 6px;
}

#share_btn img:hover{
    transform: scale(1.2);
    transition: all 100ms ease-out;
}

